.Homelesss-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* max-width: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 5%;
}

thead {
    background-color: brown;
}

thead th {
    border: 1px solid black;
}